body{
    background-color: aquamarine;
}
.container {
    width: max-content;
    margin: auto;
    padding: 20vh 0;
}

.white-keys kbd{
    display: inline-block;
    background-color: #ffffff;
    border: 0.2vw solid gray;
    margin-left: -1vw;
    padding: 20vh 2vw 5vh;
    font-size: 5vh;
}

.black-keys kbd{
    display: inline-block;
    background-color: black;
    color: white;
    margin-left: 1.75vw;
    padding: 5vh 1.5vw 5vh;
    font-size: 5vh;
    position: relative;
    top: -32vh;
}
